extends module/_layout
block title
  title テスト
block desc
  meta(name='description', content='index.jadeファイルのディスクリプションが入ります')
block body
  div.parallax-window(data-parallax="scroll",  data-image-src="img/wp/001.png")
  p.text body
