@charset "UTF-8";


// General Setting
@import "setting";
@import "mixin";

@import "base";

// Layout
@import "layout/layout";

// Module
@import "module/*";


.text {
  height: 1000px;
}
.parallax-window {
  width: 100%;
  min-height: 28.3333vw;
  background: transparent;
}
